[Unit]
 Description=GrowBox Service
 After=multi-user.target

 [Service]
 Type=idle
 ExecStart=/usr/bin/python3 /home/pi/berryconda3/bin/growbox
 User=pi
 Group=pi

 [Install]
 WantedBy=multi-user.target
